html {
  font-size: 14px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #CBA969;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  word-wrap: break-word;
  background-color: #000;
}

.title{
    text-align: center
}

p{
  margin:20px auto;
  width:730px;
  text-align:justify;
}
p:before{
  content:'';
  width:50%;
  float:right;
  height:550px;
  background: url('https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg') left center;
  background-size:cover;
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 20% 100%);
  shape-outside: polygon(100% 0, 100% 100%, 20% 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(100% 0, 100% 100%, 20% 100%);
  -webkit-shape-margin: 5%;
  shape-margin: 5%;
}