/* ----------                 ---------- */
/* ----------    RESPONSIVE   ---------- */
/* ----------                 ---------- */

@media (max-width: 768px) {
  .container>.navbar-header{
    margin-left: 0px;
    margin-right: 0px;
  }

  .site-main-slider a{
      left: 46%;
  }
}

@media (max-width: 500px) {
   .site-main-slider a{
     left: 43%;
  }

  .site-main-slider .swiper-slide .slide-heading{
      margin-top: 30px;
  }

  .lbk-titel {
      margin-top: 30px;
  }

  .lookbook-item{
      width: 100%;
  }

  .lookbook-item > .lbk-content{
      display: none;
      
  }

  #lookbook-img{
      width: 100%;
      max-width: 100vw;
  }

  #series-header{
      display: block;
      font-size: 30px;
      padding-bottom: 0px;
  }

  #site-transparent-area{
      display: none;
  }
}