/* ----------                 ---------- */
/* ----------    RESPONSIVE   ---------- */
/* ----------                 ---------- */
@media (max-width: 1400px) {
    #site-ads-section{
        display: none;
    }
}




@media (max-width: 1200px) {
    .index-products {
        display: none;
    }

    #ipad-titel-row {
        display: flex;
    }

    .lookbook-item > .lbk-content{
      display: none;
      
      
  }

    .lookbook-item {
        text-align: center;
        margin-bottom: 40px;
    }

    #series-header {
        padding-bottom: 10px;
    }

    
}


@media (max-width: 992px) {

    #bf-4,
    #bf-5,
    #bf-6{
        display: none;
    }

    .logo-col{
        width: 33%;
    }

}


@media (max-width: 768px) {
  .container>.navbar-header{
    margin-left: 0px;
    margin-right: 0px;
  }

  .site-main-slider a{
      left: 50%;
  }

  #ipad-titel-row {
  display: none;
}

 .mobile-header{
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
  }

  .lookbooks-row > .lookbook-item {
      border: 1px solid #CBA969;
  }
}


@media (max-width: 500px) {

    .site-our-gallery {
        margin-top: 40px;
        border: none;
    }

   .section-heading > .section-title-small {
    line-height: 1;
    letter-spacing: 0.028em;
    text-transform: uppercase;
    color: #CBA969;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
   }

   .site-main-slider a{
     left: 50%;
  }

  .site-main-slider .swiper-slide .slide-heading{
      margin-top: 30px;
  }

  .lbk-titel {
      margin-top: 30px;
  }

  .lookbook-item{
      width: 100%;
      margin-bottom: 0px;
  }

  .lookbook-item > .lbk-content{
      display: none;
      
  }

  #lookbook-img{
      width: 100%;
      max-width: 100vw;
  }

  #series-header{
      display: block;
      font-size: 30px;
      padding-bottom: 0px;
  }

  #site-transparent-area{
      display: none;
  }

  .site-our-gallery .section-heading {
    margin-top: 10px;
}

.section-heading.has-graphic {
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

  .section-heading{
      margin-left: 20px;
      margin-right: 20px;
  }

  .mobile-header{
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
  }

  #lbk-btn {
      margin-top: 20px;
  }

  
    
  .section-series{
        padding-top: 0px;
    }

  #lbk-btn{
      display: inline-block !important;
      float: none;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px
      
  }

  #ad-1 {
  display: none;
}

#ad-2 {
  display: none;
}   


#site-products-masonry-v3 {
    display: block;
}


}
/* #bf-3,
#bf-8 {
    display: none;
} */

@media (max-width: 420px) {

    .products-list.products-masonry-mixed > .product-item {
    width: 90vw;
    padding-left: 15px;
    padding-right: 15px;
    }


}

@media only screen and (max-width: 766px) {
    .brand-logo > img {
        width: 100%;
    }
}